# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

## Abaqus execution
*.com
*.dat
*.fil
*.msg
*.odb
*.prt
*.sim
*.sta
*.023
*.odb_f
*.lck

#others
abaqus_v6.env
